body, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Overpass Mono', monospace;
}
header {
  height: 120px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  text-align: left;
  z-index: 1000;
  background-color: #fcf6ed;
  /*border: 1px solid #f00;*/
}
nav {
  height: 60px;
  background-color: #272727;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

header .container p {
  padding: 30px 12px 0 12px;
  font-size: 12px;
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .1em;
}
section {
  position: relative;
  font-size: 12px;
  color: #272727;
  padding: 0 0 60px 0;
  z-index: 10;
}
.wrapper {
  margin: 0 auto;
  padding: 0 0 360px 0;
  background-color: #fcf6ed;
  position: relative;
  text-align: center;
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
  /*border: 1px solid #f00;*/
  overflow: hidden;
}
.container-fluid {
  width: 100%;
  background-color: #fcf6ed;
  position: relative;
  padding-top: 120px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
section ul.flex-container {
  max-width: 640px;
  margin-left: 320px;
  list-style: none;
}
section ul.flex-container li img {
  max-width: 135px;
  margin: 0 12px 12px 12px;
}
section ul.flex-container li p {
  margin: 0 12px;
  width: 135px;
  margin-bottom: 30px;
  color: #272727;
}
.section-title {
  width: 296px;
  margin: 0 12px;
  border-top: 1px solid #272727;
  font-size: 12px;
  color: #272727;
  float: left;
  padding-top: 12px;
}
